<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">تماس با موسسه</h2>
                <hr class="primary">
                <p>شماره تماس : ۰۷۵۸۳۹۳ - ۰۹۳۰</p>
                <p>شماره تماس : ۸۴۰۸۹۲۰ - ۰۹۱۰</p>
                <p>ارتباط با مسئول از طریق پیامک : ۳۱۸۶۰۶۴ - ۰۹۱۹</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://instagram.com/roshangar.sheykh"></a>
            <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:kheyrei.rooshangar@gmail.com">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/kheyrieh-roshangar/kheyrieh-roshangar.github.io">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
        <!--<div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://telegram.me/roshanghar">
            <img src="img/telegram.png" alt="">
            </a>
        </div>-->
    </div>
</section>
