<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">تماس با موسسه</h2>
                <hr class="primary">
                <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://instagram.com/roshangar.sheykh">
                <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>roshangar.sheykh</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://telegram.com/roshangar.sheykh">
            <i class="fa fa-telegram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>https://instagram.com/roshangar.sheykh</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/kheyrieh-roshangar/kheyrieh-roshangar.github.io">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>kheyrieh-roshangar/kheyrieh-roshangar.github.io</p>
            </a>
        </div>

    </div>
</section>
