<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>موسسه خیریه روشنگر طریق خضر علیه السلام</h1>
            <hr>
            <p>پدرم کم مالترین و پر خرجترین افراد فامیل بود.با این وجود هر جمعه یک دینار صدقه می داد و میفرمود:صدقه دادن در روز جمعه ثوابش دو چندان است،زیرا جمعه برتر از سایر روزهاست. امام صادق (ع) . منبع: کتاب کشکول</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">درباره موسسه</a>
        </div>
    </div>
</header>
